<template>
  <div>
    <div v-if="results">
      <v-card color="blue darken-3" style="border-radius:0px;margin-bottom:20px;">
        <v-card-title class="text-center justify-center py-6">
          <h1 class="font-weight-bold text-h2 light-blue--text text--lighten-5">
            Solution: {{objective}}
          </h1>

        </v-card-title>

        <v-tabs
          v-model="tab"
          dark
          background-color="blue darken-3"
          show-arrows
          grow
        >
        <v-tabs-slider color="blue lighten-3"></v-tabs-slider>
          <v-tab
            v-for="item in nbDays"
            :key="item"
            @click="currentDay = item"
          >
            Day  {{ item }}
          </v-tab>

        </v-tabs>
      </v-card>
      <v-container fluid>
        <v-row no-gutters>
          <v-col cols="2">
            <v-card tile max-width="344" style="margin:10px;">
              <v-card-text>
                <div>Production of the Day</div>
                <p class="text-h4 text--primary">
                  {{prod}}
                </p>
                <p>Cost</p>
                <div class="text--primary">
                  {{prodCost}}
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="5">
            <v-card tile max-width="1280" style="margin:10px;">
              <v-card-text>
                <div>Deliveries of the Day</div>
                <p class="text-h4 text--primary">
                  {{nbBuyers}} customers have to be delivered using {{nbTrucks}} vehicules.
                </p>
                <p>Details</p>
                <div class="text--primary">
                  <v-simple-table >
                   <template v-slot:default>
                     <thead>
                       <tr>
                         <th class="text-center">
                           Customer
                         </th>
                         <th class="text-center">
                           Amount to deliver
                         </th>
                         <th class="text-center">
                           Vehicule assigned
                         </th>
                         <th class="text-center">
                           Position in cycle
                         </th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr
                         v-for="item in customersToDeliver"
                         :key="item"
                       >
                         <td class="text-center">{{ item.index }}</td>
                         <td class="text-center">{{ item.value }}</td>
                         <td class="text-center">{{ item.vehicule }}</td>
                         <td class="text-center">{{ item.positionInCycle }}</td>
                       </tr>
                     </tbody>
                   </template>
                  </v-simple-table>
                </div>
              </v-card-text>

            </v-card>
          </v-col>
          <v-col cols="5">
            <v-card tile max-width="1280" style="margin:10px;">
              <v-card-text>
                <div>Storages of the Day</div>
                <p class="text-h4 text--primary">
                  Each client has the following quantity of product stored.
                </p>
                <p>Cost</p>
                <div class="text--primary">
                  {{storageCost}}
                </div>
                <p>Details</p>
                <div class="text--primary">
                  <v-simple-table >
                   <template v-slot:default>
                     <thead>
                       <tr>
                         <th class="text-center">
                           Customer
                         </th>
                         <th class="text-center">
                           Amount stored
                         </th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr
                         v-for="item in storage"
                         :key="item"
                       >
                         <td class="text-center">{{ item.index }}</td>
                         <td class="text-center">{{ item.value }}</td>
                       </tr>
                     </tbody>
                   </template>
                  </v-simple-table>
                </div>
              </v-card-text>

            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  <v-container v-else>
    <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        :complete="e1 > 1"
        step="1"
      >
        Choose the instance you want to solve
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
        :complete="e1 > 2"
        step="2"
      >
        Choose the method to apply to solve
      </v-stepper-step>

    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">

        <v-row align="center">
          <v-col
            class="d-flex"
            cols="12"
          >
            <v-select
              v-model="currentInstanceType"
              margin="1"
              :items="instanceTypes"
              label="Type of Instance"
            ></v-select>
          </v-col>
          <v-col
            class="d-flex"
            cols="12"
          >
            <v-select
              v-model="currentNbNodes"
              margin="1"
              :items="nbNodes"
              label="Number of Nodes in the graph"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              v-model="currentInstanceName"
              :items="names"
              dense
              filled
              label="Instance name"
            ></v-autocomplete>
          </v-col>
        </v-row>

        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

        <v-btn text disabled>
          Cancel
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-col
          class="d-flex"
          cols="12"
        >
          <v-select
            v-model="currentSolvingMethod"
            margin="1"
            :items="solvingMethods"
            label="Methods to solve the problem"
          ></v-select>
        </v-col>


        <v-btn
          color="primary"
          @click="solve"
        >
          Continue
        </v-btn>

        <v-btn text @click="e1 = 1">
          Cancel
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
  </v-container>
  </div>
</template>

<script>


  export default {
    name: 'HomeVue',
    data: () => ({
        objective:null,
        prod:null,
        prodCost:null,
        storage:null,
        storageCost:null,
        solution:[],
        currentDay:null,
        results: false,
        e1: 1,
        instanceTypes:["A", "B"],
        currentInstanceType:null,
        currentNbNodes:null,
        names:[
          "ABS1_1","ABS1_2","ABS1_3","ABS1_4","ABS1_5",
          "ABS2_1","ABS2_2","ABS2_3","ABS2_4","ABS2_5",
          "ABS3_1","ABS3_2","ABS3_3","ABS3_4","ABS3_5",
          "ABS4_1","ABS4_2","ABS4_3","ABS4_4","ABS4_5",
          "ABS5_1","ABS5_2","ABS5_3","ABS5_4","ABS5_5"],
        currentInstanceName:null,
        solvingMethods:["Heuristic", "Branch&Bound", "Branch&Bound&Cut"],
        currentSolvingMethod:null,

        reveal: false,
        nbDays:6,
        nbTrucks:null,
        nbBuyers:null,
        items:["Production", "deliveries"],
        customersToDeliver:[]
    }),
    computed:{
      nbNodes(){
        if(this.currentInstanceType == null || this.currentInstanceType == "A"){
          return [14,50,100];
        }
        else{
          return [50,100,200]
        }

      }
    },
    watch:{
      currentDay(val){

        this.nbTrucks = this.solution[val-1].nbTrucks;
        this.nbBuyers = this.solution[val-1].nbBuyers;
        this.customersToDeliver = this.solution[val-1].customersToDeliver;
        this.storage = this.solution[val-1].storage;
        this.storageCost = this.solution[val-1].storageCost;
        this.prod = this.solution[val-1].prod;
        this.prodCost = this.solution[val-1].prodCost;
      }
    },
    methods:{
      solve(){
        let name =this.currentInstanceName;
        let nbNodes = this.currentNbNodes;
        let type = this.currentInstanceType;
        let method = this.currentSolvingMethod;
        let data = {
          name,
          nbNodes,
          type,
          method
        }
        this.$http.post("http://127.0.0.1:5000/solve", data).then((res)=>{
            console.log(res.data);
            this.results = true;
            this.solution = res.data;
            this.objective = this.solution.objective
            this.currentDay = 1;
        }).catch(function (error) {
          console.log(error);
        });

      }
    }
  }
</script>
<style scoped>

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

</style>
