<template>
  <div>
    <v-card color="blue darken-3" style="border-radius:0px;margin-bottom:20px;">
      <v-card-title class="text-center justify-center py-6">
        <h1 class="font-weight-bold text-h2 light-blue--text text--lighten-5">
          Solution of value {{obj_value}}
        </h1>
      </v-card-title>

      <v-tabs
        v-model="tab"
        dark
        background-color="blue darken-3"
        show-arrows
        grow
      >
      <v-tabs-slider color="blue lighten-3"></v-tabs-slider>
        <v-tab
          v-for="item in nbDays"
          :key="item"
        >
          Day  {{ item }}
        </v-tab>

      </v-tabs>
    </v-card>
    <v-container fluid>
      <v-row no-gutters>
        <v-col cols="2">
          <v-card tile max-width="344" style="margin:10px;">
            <v-card-text>
              <div>Production of the Day</div>
              <p class="text-h4 text--primary">
                el·ee·mos·y·nar·y
              </p>
              <p>Cost</p>
              <div class="text--primary">
                relating to or dependent on charity; charitable.<br>
                "an eleemosynary educational institution."
              </div>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="5">
          <v-card tile max-width="1280" style="margin:10px;">
            <v-card-text>
              <div>Deliveries of the Day</div>
              <p class="text-h4 text--primary">
                {{nbBuyers}} customers have to be delivered using {{nbTrucks}} vehicules.
              </p>
              <p>Details</p>
              <div class="text--primary">
                <v-simple-table >
                 <template v-slot:default>
                   <thead>
                     <tr>
                       <th class="text-center">
                         Customer
                       </th>
                       <th class="text-center">
                         Amount to deliver
                       </th>
                       <th class="text-center">
                         Vehicule assigned
                       </th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr
                       v-for="item in customersToDeliver"
                       :key="item"
                     >
                       <td class="text-center">{{ item.index }}</td>
                       <td class="text-center">{{ item.value }}</td>
                       <td class="text-center">{{ item.vehicule }}</td>
                     </tr>
                   </tbody>
                 </template>
                </v-simple-table>
              </div>
            </v-card-text>

          </v-card>
        </v-col>
        <v-col cols="5">
          <v-card tile max-width="1280" style="margin:10px;">
            <v-card-text>
              <div>Deliveries of the Day</div>
              <p class="text-h4 text--primary">
                {{nbBuyers}} customers have to be delivered using {{nbTrucks}} vehicules.
              </p>
              <p>Details</p>
              <div class="text--primary">
                <v-simple-table >
                 <template v-slot:default>
                   <thead>
                     <tr>
                       <th class="text-center">
                         Customer
                       </th>
                       <th class="text-center">
                         Amount stored
                       </th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr
                       v-for="item in customersToDeliver"
                       :key="item"
                     >
                       <td class="text-center">{{ item.index }}</td>
                       <td class="text-center">{{ item.value }}</td>
                     </tr>
                   </tbody>
                 </template>
                </v-simple-table>
              </div>
            </v-card-text>

          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: 'ResultsVue',

    data: () => ({

    }),
  }
</script>
