<template>
  <v-app>
      <HomeVue/>

  </v-app>
</template>

<script>
import HomeVue from './components/HomeVue';
export default {
  name: 'App',

  components: {
    HomeVue,

  },

  data: () => ({
    //
  }),
};
</script>
